<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mail.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="ru.mail.loginregister.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.wptrafficanalyzer.locationattouchedpositionv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calisan.main_page_for_isci"
            android:label="@string/app_name" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".firma.main_page_for_firma"
            android:label="@string/title_activity_main_for_company" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".firma.maps_activity"
            android:label="@string/title_activity_maps" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".randevu_gonderme_islemleri_calisan"
            android:label="@string/title_activity_randevu__islemleri" />
        <activity
            android:name=".calisan.egitim_bilgisi_ekleme"
            android:label="Egitim Bilgisi Girişi" />
        <activity
            android:name=".randevular_calisan"
            android:label="Randevular" />
        <activity android:name=".firma.firma_bilgileri_girme" />
        <activity android:name=".calisan.ayrintili_arama_ve_yol" />
        <activity android:name=".calisan.ayrintili_arama" />
        <activity android:name=".ayrintili_arama_sonuclari_calisan" />
        <activity android:name=".yol_cizimi_calisan" />
        <activity android:name=".randevular_firma" />
        <activity android:name=".yolcizimden_oncekisayfa_calisan" />
        <activity android:name=".onaylananlar_yol_cizimi_calisan" />
    </application>

</manifest>
